@charset "utf-8";


article#nav {
	text-align: center;
}

article#nav a {
	display: inline-block;
	width: 150px;
	text-align: center;
	background-repeat: no-repeat !important;
	vertical-align: middle;
	
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	border: 1px solid #333;
}

article#nav a:hover{
		background-color: rgba(153, 102, 204, 0.2);
}


#index_flip {
	width: 200px;
	height: 250px;
	padding-left: 300px;
	padding-top: 40px;
	position: relative;
}
.cardflip {
	/*transform: rotate(20deg);*/
}

.cardflip {
	-webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  
  display: block;
  width: 200px;
  height: 210px;
}

.cardflip:hover .cardsflip, .cardflip.hover .cardsflip {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.cardsflip {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
  
  -o-transition: 0.6s;
	-o-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
	/*margin-left: 50px;*/
}

.cardsflip .card_img {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	
	
}

.card_img {
	width: 200px;
	height: 200px;
	
	position: absolute;
	/*top: 0px;
	top: 182px;*/
	
	background-color: #fff;
	
}

.cards {
	width: 210px;
	height: 210px;
	display: inline-block;
	margin-left: 24px;
	margin-right: 24px;
	margin-bottom: 48px;
}

.cardsflip .card_img:first-child {
	/*z-index: 2;*/
}

.cardsflip .card_img:nth-child(2) {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
	
}
	/*transform: rotate(20deg)*/;

.position ul li {
	list-style: none;
}


.ノーマル .card_img { /* 01 */
	border: 5px solid #A8A878;
}
.ノーマル .class, .ノーマル2 { /* 01 */
	background-color: #A8A878;
}
.かくとう .card_img { /* 02 */
	border: 5px solid #C03028;
}
.かくとう .class, .かくとう2 { /* 02 */
	background-color: #C03028;
}
.ひこう .card_img { /* 03 */
	border: 5px solid #A890F0;
}
.ひこう .class, .ひこう2 { /* 03 */
	background-color: #A890F0;
}
.どく .card_img { /* 04 */
	border: 5px solid #A040A0;
}
.どく .class, .どく2 { /* 04 */
	background-color: #A040A0;
}
.じめん .card_img { /* 05 */
	border: 5px solid #E0C068;
}
.じめん .class, .じめん2 { /* 05 */
	background-color: #E0C068;
}
.いわ .card_img { /* 06 */
	border: 5px solid #B8A038;
}
.いわ .class, .いわ2 { /* 06 */
	background-color: #B8A038;
}
.むし .card_img { /* 07 */
	border: 5px solid #A8B820;
}
.むし .class, .むし2 { /* 07 */
	background-color: #A8B820;
}
.ゴースト .card_img { /* 08 */
	border: 5px solid #705898;
}
.ゴースト .class, .ゴースト2 { /* 08 */
	background-color: #705898;
}
.はがね .card_img { /* 09 */
	border: 5px solid #B8B8D0;
}
.はがね .class, .はがね2 { /* 09 */
	background-color: #B8B8D0;
}
.ほのお .card_img { /* 10 */
	border: 5px solid #F08030;
}
.ほのお .class, .ほのお2 { /* 10 */
	background-color: #F08030;
}
.みず .card_img { /* 11 */
	border: 5px solid #6890F0;
}
.みず .class, .みず2 { /* 11 */
	background-color: #6890F0;
}
.くさ .card_img { /* 12 */
	border: 5px solid #78C850;
}
.くさ .class, .くさ2 { /* 12 */
	background-color: #78C850;
}
.でんき .card_img { /* 13 */
	border: 5px solid #F8D030;
}
.でんき .class, .でんき2 { /* 13 */
	background-color: #F8D030;
}
.エスパ .card_img { /* 14 */
	border: 5px solid #F85888;
}
.エスパ .class, .エスパ2 { /* 14 */
	background-color: #F85888;
}
.こおり .card_img { /* 15 */
	border: 5px solid #98D8D8;
}
.こおり .class, .こおり2 { /* 15 */
	background-color: #98D8D8;
}
.ドラゴン .card_img { /* 16 */
	border: 5px solid #7038F8;
}
.ドラゴン .class, .ドラゴン2 { /* 16 */
	background-color: #7038F8;
}
.あく .card_img { /* 17 */
	border: 5px solid #705848;
}
.あく .class, .あく2 { /* 17 */
	background-color: #705848;
}
.フェアリー .card_img { /* 18 */
	border: 5px solid #EE99AC;
}
.フェアリー .class, .フェアリー2 { /* 18 */
	background-color: #EE99AC;
}

.id {
	position: absolute;
	top: 10px;
	left: 20px;
	/*padding: 10px;*/
	font-size: 1.3em;
	font-weight: bold;
	width: 10px;
	text-align: center;
	writing-mode: vertical-rl;
}

.id span {
	font-size: 0.5em;
}

.class_holder {
	color: #fff;
	position: absolute;
	right: 0px;
	top: 0px;
	writing-mode: vertical-rl;
	border-radius: 0px 0px 0px 15px;

}
.class, .class2 {
	border-radius: 0px 0px 0px 15px;
	padding-bottom: 10px;
	display: inline-block;
	padding: 3px;
	padding-bottom: 8px;
}

.class {
	z-index: 10;
	/*padding-right: 3px;*/
}

.class2 {
	display: linline-block;
	padding-top: 18px;
	margin-top: -15px;
	z-index: -10;
}

.image {
	background-image: url('Poke_Chart.png');
	height: 152px;
	width: 187px;
	border: 1px solid #ddd;
	border-radius: 10px;
	margin: 5px;
}

.name {
	width: 200px;
	text-align: center;
	font-size: 1.7em;
	font-weight: bold;
	display: inline-block;
}

.hiragana {
	/*display: none;*/
	padding-top: 50px;
}

.cardflip:hover .hiragana {
	/*display: inline-block;*/
}

.info {
	
	width: 200px;
	text-align: center;
	/*font-size: 1.7em;
	font-weight: bold;*/
	display: none;
}
